@import "tailwindcss";

@plugin "daisyui" {
  themes: ancientlight, ancientdark;
}


@plugin "daisyui/theme" {
  name: "ancientlight";
  color-scheme: light;

  --color-primary: #7C5E10;
  --color-primary-content: #FAF4E6;

  --color-secondary: #A1866F;
  --color-secondary-content: #FAF4E6;

  --color-accent: #BFAE8F;
  --color-accent-content: #1C1A16;

  --color-neutral: #A89F91;
  --color-neutral-content: #1C1A16;

  --color-base-100: #FAF4E6;
  --color-base-200: #EDE3D1;
  --color-base-300: #D6C7B0;
  --color-base-content: #3B2F2F;

  --color-info: #7FB3D5;
  --color-success: #8FBC8F;
  --color-warning: #D4A017;
  --color-error: #C14444;

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "ancientdark";
  color-scheme: dark;

  --color-primary: #C2B280;
  --color-primary-content: #1C1A16;

  --color-secondary: #8B6F47;
  --color-secondary-content: #1C1A16;

  --color-accent: #A68A64;
  --color-accent-content: #FAF4E6;

  --color-neutral: #3A342D;
  --color-neutral-content: #EDE3D1;

  --color-base-100: #1C1A16;
  --color-base-200: #2A2722;
  --color-base-300: #3A342D;
  --color-base-content: #EDE3D1;

  --color-info: #5DADE2;
  --color-success: #6BBF59;
  --color-warning: #E1B12C;
  --color-error: #E74C3C;

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}