@import "tailwindcss";

@plugin "daisyui" {
  themes: ancientlight, ancientdark;
}

@plugin "daisyui/theme" {
  name: "ancientlight";
  color-scheme: light;

  --color-primary: #7c5e10;
  --color-primary-content: #faf4e6;

  --color-secondary: #a1866f;
  --color-secondary-content: #faf4e6;

  --color-accent: #bfae8f;
  --color-accent-content: #1c1a16;

  --color-neutral: #a89f91;
  --color-neutral-content: #1c1a16;

  --color-base-100: #d6c7b0;
  --color-base-200: #ede3d1;
  --color-base-300: #faf4e6;
  --color-base-content: #3b2f2f;

  --color-info: #7fb3d5;
  --color-success: #8fbc8f;
  --color-warning: #d4a017;
  --color-error: #c14444;

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "ancientdark";
  color-scheme: dark;

  --color-primary: #c2b280;
  --color-primary-content: #1c1a16;

  --color-secondary: #8b6f47;
  --color-secondary-content: #1c1a16;

  --color-accent: #a68a64;
  --color-accent-content: #faf4e6;

  --color-neutral: #3a342d;
  --color-neutral-content: #ede3d1;

  --color-base-100: #1c1a16;
  --color-base-200: #2a2722;
  --color-base-300: #3a342d;
  --color-base-content: #ede3d1;

  --color-info: #5dade2;
  --color-success: #6bbf59;
  --color-warning: #e1b12c;
  --color-error: #e74c3c;

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}
